.box2{
    width: 300px;
    height: 100px;
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.box3{
    width: 300px;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    font-weight: bold;
}
.box4{
    width: 300px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.input{
    width: 240px;
    height: 25px;
    border: 0;
    outline: none;
}
.btn{
    width: 50px;
    height: 25px;
    border: 0;
    color: rgb(151, 151, 151);
}